label , strong , h1{
    font-weight: 600;
  }
   .btn1{
    margin-left: 42%; 
  } 
  .fromMainDiv{
    background-color: rgb(246, 244, 244);
    height: 92vh;
  }
  .leftside , .rightside{
    width: 47%;
  }
 .btn2{
  position:absolute;
  top:0;
  right:0;
 }

 
b{
  color: rgb(239, 47, 47);
}
