.mybox{
  padding:10px;
  margin:10px;
  border:2px solid;
  border-radius:10px;
  background-color:rgb(242, 204, 242)
}
.cartlist{
  list-style: none;
 
}
  .cartItem{
    display:flex;
    align-items: center;
    flex-grow: 1;
  }

.cartItem Img{
  width:100px;
  padding:20px
}
.itemtitle{
 width:40%
}
.cartItem button{
  border-radius: 40%;
  margin:10px;
  background-color:skyblue
}
.cartItem .itemprice{
  width:10%;
  text-align:left
}
.itemTotal{
  width:5%;
  text-align:right
}
.itemstotal{
text-align:right;
width:65%
}